<%-include('layouts/bsa-mru-top') -%>

<div class="container">
    <div class="row">
        <div class="col-lg-7">
<!------------------------------------------------------------------------------------------------------------->
            <form  id="bsa-table">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Main Memory</span>
                      </div>
                    <input type="text" id="mm_size" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-prepend">
                        <div class="dropdown">
                            <select class = "btn btn-secondary dropdown-toggle" name="word-blocks" id="word-blocks1">
                              <option value="words">Words</option>
                              <option value="blocks"> Blocks</option>
                            </select>
                          </div>
                      </div>
                  </div>
<!------------------------------------------------------------------------------------------------------------->
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cache Memory Size</span>
                      </div>
                    <input type="text" id="cache_size" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-prepend">
                        <select class = "btn btn-secondary dropdown-toggle" name="word-blocks" id="word-blocks1">
                          <option value="words">Words</option>
                          <option value="blocks"> Blocks</option>
                        </select>
                      </div>
                  </div>
<!------------------------------------------------------------------------------------------------------------->
                  <div class="input-group d-flex flex-row">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Block size</span>
                    </div>
                    <input type="text" id = "block_size" name="block_size" class="form-control">
                    <div class="col-lg-1"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Set size</span>
                      </div>
                    <input type="text" name="set_size" id = "set_size" class="form-control">
                  </div>
                  <div class="mt-4"></div>
                    <script>

                      function testDetails(){

                        var mm_size = document.getElementById("mm_size").value
                        var cache_size = document.getElementById("cache_size").value
                        var block_size = document.getElementById("block_size").value
                        var set_size = document.getElementById("set_size").value

                        
                        if(document.getElementById("word-blocks1").value == 'words')
                        {
                          var numBlocksinCache = cache_size/block_size
                          var numSets = numBlocksinCache/set_size
                          alert(numSets + " " + numBlocksinCache);
                        }
                        else if(document.getElementById("word-blocks1").value == 'blocks')
                        {
                          new_cache = new BlockSetAssociativeCache("Blocks", 4, 2, 4)
                          new_cache.simulate([1,2,3,4,5,4,6,3])

                          var numBlocksinCache = cache_size
                          var numSets = cache_size/set_size
                          alert(numSets + " " + numBlocksinCache);
                        }

                        
                      }


                    </script>
                  <button type="submit" class="btn btn-primary" id = "submittest" onClick="testDetails()">Submit</button>
            </form>
        </div>
    </div>
</div>

<%-include('layouts/bsa-mru-bottom') -%>