<%-include('layouts/bsa-mru-top') -%>

<div class="px-5">
  <h1 class= "py-4"> BSA/MRU Calculator </h1>
    <div class="row">
        <div class="col-lg-6 ">
            <form action="" name="bsa-table">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Main Memory</span>
                      </div>
                    <input type="text" name="mm_size" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-prepend">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" name="mm_type" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown button
                            </button>
                            <ul role = "listbox" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <!-- <option class = "dropdown-item" value="Words"> Words </option> -->
                              <li><a class="dropdown-item" href="#">Words</a></li>
                              <li><a class="dropdown-item" href="#">Blocks</a></li>
                              <!-- <option class = "dropdown-item" value="Blocks"> Blocks </option> -->
                            </ul>
                          </div>
                      </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Cache Memory Size</span>
                      </div>
                    <input type="text" name="cache_size" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-prepend">
                        
                            <button class="btn btn-secondary dropdown-toggle" name="cache_type" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Words</a></li>
                              <li><a class="dropdown-item" href="#">Blocks</a></li>
                            </ul>
                          
                      </div>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Program Flow</span>
                      </div>
                    <input type="text" name="program_flow" class="form-control" aria-label="Text input with dropdown button">
                    <div class="input-group-prepend">
                        
                            <button class="btn btn-secondary dropdown-toggle" name="program_flow_type" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                              Dropdown button
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                              <li><a class="dropdown-item" href="#">Words</a></li>
                              <li><a class="dropdown-item" href="#">Blocks</a></li>
                            </ul>
                          
                      </div>
                  </div>

                  <div class="input-group d-flex flex-row">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="">Block size</span>
                    </div>
                    <input type="text" name="block_size" class="form-control">
                    <div class="col-lg-1"></div>
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="">Set size</span>
                      </div>
                    <input type="text" name="set_size" class="form-control">
                  </div>
                  <div class="mt-4"></div>
                  <button type="submit" class="btn btn-primary" id="Calculate">Submit</button>
                  <button type ="button" id = "print" class= "btn btn-primary">Download Text File</button>
            </form>
            <div class = "pt-5"></div>
            
            <div id="info" class = "px-3"></div>
          </div>
        </div>
    </div>
</div>





<%-include('layouts/bsa-mru-bottom') -%>